NODE_ENV='node environment in which the application is running in'
DATABASE_URL='Database url for development'
TEST_DATABASE_URL='Database url for test'
PROD_DATABASE_URL='Database url for production'
SWAGGER_SERVER='URL on which the server is running'
PORT='Port on which the server is running'
JWT_SECRET="any random secret for security purposes"